
<label for="agency">
	<f:translate key="tx_nkcadportal_domain_model_discountcode.agency" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="agency" /><br />
<label for="code">
	<f:translate key="tx_nkcadportal_domain_model_discountcode.code" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="code" /><br />
<label for="description">
	<f:translate key="tx_nkcadportal_domain_model_discountcode.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="discount">
	<f:translate key="tx_nkcadportal_domain_model_discountcode.discount" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="discount" /><br />