
<table class="tx-nkcadportal" >
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_discountcode.agency" />
		</td>
		<td>
		{discountcode.agency}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_discountcode.code" />
		</td>
		<td>
		{discountcode.code}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_discountcode.description" />
		</td>
		<td>
		{discountcode.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_discountcode.discount" />
		</td>
		<td>
		{discountcode.discount}
		</td>
	</tr>
</table>