
<label for="description">
	<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="description" /><br />
<label for="membershiptype">
	<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.membershiptype" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="membershiptype" /><br />
<label for="price">
	<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.price" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="price" /><br />
<label for="term">
	<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.term" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="term" /><br />