
<table class="tx-nkcadportal" >
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.description" />
		</td>
		<td>
		{membershipTemplate.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.membershiptype" />
		</td>
		<td>
		{membershipTemplate.membershiptype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.price" />
		</td>
		<td>
		{membershipTemplate.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_membershiptemplate.term" />
		</td>
		<td>
		{membershipTemplate.term}
		</td>
	</tr>
</table>