<footer>
	<div class="gp ls-spc drk-bg2">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-lg-3">
					<div class="wdgt wdgt_abt">
						<div class="lgo"><h1 itemprop="headline"><f:format.html parseFuncTSPath="">{headerLogo}</f:format.html></div>
						<f:format.html parseFuncTSPath="">{footerColumnA}</f:format.html>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-lg-3">
					<div class="wdgt wdgt_pst">
						<f:format.html parseFuncTSPath="">{footerColumnB}</f:format.html>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-lg-3">
					<div class="wdgt wdgt_pst">
						<f:format.html parseFuncTSPath="">{footerColumnC}</f:format.html>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-lg-3">
					<div class="wdgt wdgt_cate">
						<f:format.html parseFuncTSPath="">{footerColumnD}</f:format.html>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="btm-br drk-bg3 text-center">
	<div class="container"><f:format.html parseFuncTSPath="">{footerCopyright}</f:format.html></div>
</div>