<div class="rspn-hdr">
	<div class="rspn-tpbr">
		<ul class="rspn-cnt">
			<li class="active"><i class="fa fa-map-marker"></i> 45 East Deloney Avenue PO Box 1552</li>
			<li><i class="fa fa-phone"></i> (+061) 307-733-3005</li>
		</ul>
	</div>
	<div class="rspn-mdbr">
		<form class="rspn-srch">
			<input type="text" placeholder="Enter Your Keyword" />
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
	<div class="lg-mn">
		<div class="logo">
			<h1><f:format.html parseFuncTSPath="">{headerLogo}</f:format.html></h1>
		</div>
		<span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
	</div>
	<div class="rsnp-mnu">
		<span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
		<ul>
			<f:format.html parseFuncTSPath="">{mainMenu}</f:format.html>
		</ul>
	</div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
<div class="clearfix"></div>
<header class="stck styl5 abs-ps rd-mnu subpage-header stcky home">
	<div class="lgo"><h1 itemprop="headline"><f:format.html parseFuncTSPath="">{headerLogo}</f:format.html></h1></div>
	<nav>
		<ul>
			<f:format.html parseFuncTSPath="">{mainMenu}</f:format.html>
		</ul>
	</nav>
</header><!-- Header -->