<f:layout name="Default" /> 
<f:section name="content">

<div class="sub-page-wrapper">

	<!-- SLIDER -->
	<f:if condition="{content_4}">
		<f:format.html parseFuncTSPath="">{content_4}</f:format.html>
	</f:if>
	<!-- SLIDER End -->

	<!-- CONTACT FORM -->
	<section id="contact" class="home-contact-form">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">
				<f:format.html parseFuncTSPath="">{content_7}</f:format.html>
		  </div>
		</div><!-- end row -->
	  </div><!-- End container -->
	</section>
	<!-- CONTACT FORM End -->
	
	<!-- CONTACT BANNER -->
	<f:format.html parseFuncTSPath="">{content_6}</f:format.html>
	<!-- CONTACT BANNER End -->

	<!-- GOOGLE MAP -->
	<section>
		<f:format.html parseFuncTSPath="">{content_8}</f:format.html>
	</section>
	<!-- GOOGLE MAP End -->
	
</div>

</f:section>
