<f:layout name="Default" /> 
<f:section name="content">

<!-- SLIDER -->
<f:format.html parseFuncTSPath="">{content_0}</f:format.html>
<!-- End SLIDER  -->

<!-- ABOUT -->
<section id="about" class="section">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
			<f:format.html parseFuncTSPath="">{content_1}</f:format.html>
	  </div>
	</div><!-- end row -->
  </div><!-- End container -->
</section>
<!-- END ABOUT  -->

<!-- SERVICES -->
<f:format.html parseFuncTSPath="">{content_2}</f:format.html>
<!-- END SERVICES -->

<!-- TESTIMONIALS -->
<div class="testimonials-wrapper">
	<f:format.html parseFuncTSPath="">{content_3}</f:format.html>
</div>
<!-- END TESTIMONIALS -->

<!-- WORK -->
<section id="work" class="section home-events">
  <div class="container">
	<f:format.html parseFuncTSPath="">{content_4}</f:format.html>
  </div><!-- End container -->
</section>
<!-- END WORK -->

<!-- News -->
<section id="news" class="section bg-lightgray news-home">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<f:format.html parseFuncTSPath="">{content_5}</f:format.html>
			</div>
		</div>
	</div>
</section>
<!-- END News -->

<!-- CONTACT BANNER -->
<f:format.html parseFuncTSPath="">{content_6}</f:format.html>
<!-- CONTACT BANNER End -->

<!-- CONTACT FORM -->
<section id="contact" class="section home-contact-form">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
			<f:format.html parseFuncTSPath="">{content_7}</f:format.html>
	  </div>
	</div><!-- end row -->
  </div><!-- End container -->
</section>
<!-- CONTACT FORM End -->

<!-- GOOGLE MAP -->
<section>
	<f:format.html parseFuncTSPath="">{content_8}</f:format.html>
</section>
<!-- GOOGLE MAP End -->

</f:section>
