<f:layout name="Home" /> 
<f:section name="content">
	<f:if condition="{content_0}">
		<!-- SLIDER -->
		<!--<div class="creative-slider blk4-lyr">-->
		<div class="custom-slider-container">
			<f:format.html parseFuncTSPath="">{content_0}</f:format.html>
		</div>
		<!-- SLIDER End -->
	</f:if>
	<section class="top-column-boxes-row">
		<div>
			<div class="container">
				<div class="abt-sec-wrp2 btm-spc70">
					<div class="row">
						<f:format.html parseFuncTSPath="">{content_1}</f:format.html>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="welcome-by-ceo-row">
		<div class="gp wht-lyr opc85 btm-spc125">
			<div class="prlx welcome-by-ceo" style="background-image: url('{ceoWelcomeTextBg}');"></div>
			<div class="container">
				<div class="rmv-ext3 welcome-by-ceo-text">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="srv-bx3">
								<f:format.html parseFuncTSPath="">{content_3}</f:format.html>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="gp no-gp">
			<div class="prlx contactbanner" style="background-image: url('{homeContactBannerBg}');"></div>
			<div class="container">
				<div class="row-contactbanner">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<f:format.html parseFuncTSPath="">{content_4}</f:format.html>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="boxes-section">
		<div class="gp no-btmgp tp-spc125">
			<div class="title1 text-center">
				<f:format.html parseFuncTSPath="">{content_17}</f:format.html>
			</div>
			<div class="prtfl-wrp">
				<div class="row mrg">
					<div class="col-md-3 col-sm-6 col-lg-3">
						<f:format.html parseFuncTSPath="">{content_5}</f:format.html>
					</div>
					<div class="col-md-3 col-sm-6 col-lg-3">
						<f:format.html parseFuncTSPath="">{content_6}</f:format.html>
					</div>
					<div class="col-md-6 col-sm-12 col-lg-6">
						<f:format.html parseFuncTSPath="">{content_7}</f:format.html>
					</div>
					<div class="col-md-6 col-sm-12 col-lg-6">
						<f:format.html parseFuncTSPath="">{content_8}</f:format.html>
					</div>
					<div class="col-md-3 col-sm-6 col-lg-3">
						<f:format.html parseFuncTSPath="">{content_9}</f:format.html>
					</div>
					<div class="col-md-3 col-sm-6 col-lg-3">
						<f:format.html parseFuncTSPath="">{content_10}</f:format.html>
					</div>
					<div class="col-md-3 col-sm-6 col-lg-3">
						<f:format.html parseFuncTSPath="">{content_11}</f:format.html>
					</div>
					<div class="col-md-3 col-sm-6 col-lg-3 pull-right">
						<f:format.html parseFuncTSPath="">{content_13}</f:format.html>
					</div>                        
					<div class="col-md-6 col-sm-12 col-lg-6">
						<f:format.html parseFuncTSPath="">{content_12}</f:format.html>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="gp">
			<div class="container">
				<div class="prtnrs">
					<div class="row mrg home-sponsor-row">
						<f:format.html parseFuncTSPath="">{content_14}</f:format.html>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="gp no-gp">
			<div class="row mrg">
				<div class="col-md-6 col-sm-12 col-lg-6 bottom-boxes-left">
					<div class="cnt-inf-wrp text-center gry-bg2">
						<f:format.html parseFuncTSPath="">{content_15}</f:format.html>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-lg-6 bottom-boxes-right">
					<div class="cnt-inf-wrp text-center gry-bg3">
						<f:format.html parseFuncTSPath="">{content_16}</f:format.html>
					</div>
				</div>
			</div>
		</div>
	</section>
</f:section>