
<label for="daysspan">
	<f:translate key="tx_nkcadportal_domain_model_reminder.daysspan" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="daysspan" /><br />
<label for="whentosend">
	<f:translate key="tx_nkcadportal_domain_model_reminder.whentosend" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="whentosend" /><br />
<label for="fieldcondition">
	<f:translate key="tx_nkcadportal_domain_model_reminder.fieldcondition" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fieldcondition" /><br />
<label for="sendtogroup">
	<f:translate key="tx_nkcadportal_domain_model_reminder.sendtogroup" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sendtogroup" /><br />
<label for="subject">
	<f:translate key="tx_nkcadportal_domain_model_reminder.subject" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="message">
	<f:translate key="tx_nkcadportal_domain_model_reminder.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />