
<table class="tx-nkcadportal" >
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.daysspan" />
		</td>
		<td>
		{reminder.daysspan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.whentosend" />
		</td>
		<td>
		{reminder.whentosend}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.fieldcondition" />
		</td>
		<td>
		{reminder.fieldcondition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.sendtogroup" />
		</td>
		<td>
		{reminder.sendtogroup}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.subject" />
		</td>
		<td>
		{reminder.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_reminder.message" />
		</td>
		<td>
		{reminder.message}
		</td>
	</tr>
</table>