
<label for="lastname">
	<f:translate key="tx_nkcadportal_domain_model_contact.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="firstname">
	<f:translate key="tx_nkcadportal_domain_model_contact.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="email">
	<f:translate key="tx_nkcadportal_domain_model_contact.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_nkcadportal_domain_model_contact.phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="contacttype">
	<f:translate key="tx_nkcadportal_domain_model_contact.contacttype" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contacttype" /><br />