
<label for="fein">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.fein" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fein" /><br />
<label for="numberofemployees">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.numberofemployees" />
</label><br />
	<f:form.textfield property="numberofemployees" /><br />
<label for="numberofcdldrivers">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.numberofcdldrivers" />
</label><br />
	<f:form.textfield property="numberofcdldrivers" /><br />
<label for="businesstype">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.businesstype" />
</label><br />
	<f:form.textfield property="businesstype" /><br />
<label for="insurancecarrier">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.insurancecarrier" />
</label><br />
	<f:form.textfield property="insurancecarrier" /><br />
<label for="insuranceagent">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.insuranceagent" />
</label><br />
	<f:form.textfield property="insuranceagent" /><br />
<label for="hearaboutus">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.hearaboutus" />
</label><br />
	<f:form.textfield property="hearaboutus" /><br />
<label for="staffcomments">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.staffcomments" />
</label><br />
	<f:form.textarea property="staffcomments" cols="40" rows="15" /><br />
<label for="membercomments">
	<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.membercomments" />
</label><br />
	<f:form.textarea property="membercomments" cols="40" rows="15" /><br />