
<table class="tx-nkcadportal" >
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.fein" />
		</td>
		<td>
			{customFrontendUser.fein}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.numberofemployees" />
		</td>
		<td>
			{customFrontendUser.numberofemployees}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.numberofcdldrivers" />
		</td>
		<td>
			{customFrontendUser.numberofcdldrivers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.businesstype" />
		</td>
		<td>
			{customFrontendUser.businesstype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.insurancecarrier" />
		</td>
		<td>
			{customFrontendUser.insurancecarrier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.insuranceagent" />
		</td>
		<td>
			{customFrontendUser.insuranceagent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.hearaboutus" />
		</td>
		<td>
			{customFrontendUser.hearaboutus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.staffcomments" />
		</td>
		<td>
			{customFrontendUser.staffcomments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_customfrontenduser.membercomments" />
		</td>
		<td>
			{customFrontendUser.membercomments}
		</td>
	</tr>
</table>