{namespace nk=Netkyngs\Nkcadportal\ViewHelpers}

<f:layout name="Default" />


<f:section name="content">

<f:flashMessages />
<ul class="cad-portal-be-topnav">
    <li><f:link.action action="list" class="active">Members</f:link.action></li>
    <li><f:link.action action="listmshiptpl">Memberships</f:link.action></li>
    <li><f:link.action action="listnewsletter">Newsletters</f:link.action></li>
    <li><f:link.action action="listdocs">Documents</f:link.action></li>
    <li><f:link.action action="listrem">Reminders</f:link.action></li>
    <li><f:link.action action="listrpt">Reports</f:link.action></li>
    <li><f:link.action action="listcodes">Codes</f:link.action></li>
</ul>

<!-- MEMBERS -->
<div class="beoverlay" id="nkloader"><img src="{f:uri.resource(path:'images/bx_loader.gif')}" /></div>
<table class="cad-portal-be-table table-members active" id="table-members" style="width:100%">
	<caption>Members</caption>
	<thead>
            <tr>
                <td colspan="8">
                    <label>Filter records: </label>
                    <input name="qsearch" id="qsearch" style="width:300px;" placeholder="Type in minimum 3 characters to filter results" />
                    </td>
                </tr>
		<tr>
                    <th class="sorting_disabled" width="20">
                            <nk:be.editLink table="fe_users" uid="18" action="new">
                                    <i class="fa fa-plus-circle"></i>
                            </nk:be.editLink>
                    </th>
                    <th class="sorting_disabled" width="100">Options</th>
                    <th>Company name</th>
                    <th>FEIN</th>
                    <th class="sorting_disabled">Address</th>
                    <th class="sorting_disabled">Primary Contact</th>
                    <th class="sorting_disabled">Primary Phone</th>
                    <th class="sorting_disabled">Email</th>
		</tr>
	</thead>
        <tbody id="memberList">
            <f:for each="{members}" as="member">
                <tr>
                    <td><i class="fa fa-user"></i></td>
                    <td><nk:be.editLink table="fe_users" uid="{member.uid}" action="edit"><i class="fa fa-pencil"></i></nk:be.editLink> <i class="fa fa-eye-slash" onclick="performAjaxAction('36', 'hide-member',{member.uid}, true);"></i> <i class="fa fa-trash" onclick="performAjaxAction('36', 'delete-member', {member.uid}, true);"></i></td>
                    <td>{member.company}</td>
                    <td>{member.fein}</td>
                    <td>{member.address}</td>
                    <td>{member.first_name} {member.last_name}</td>
                    <td>{member.telephone}</td>
                    <td>{member.email}</td>
                </tr>
            </f:for>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" style="text-align: center" id="memPg"><f:format.raw>{mempaging}</f:format.raw></td>
            </tr>
        </tfoot>
</table>
</f:section>

</html>