<div class="form-row">
	<div class="form-left">Card type <span class="required-aserix">*</span></div>
	<div class="form-right form-right-small">
		<select name="paymentForm[cardtype]" id="cc_cardtype">
			<option value="mastercard">Mastercard</option>
			<option value="visa">Visa</option>
			<option value="discover">Discover</option>
		</select>
	</div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">Name on card <span class="required-aserix">*</span></div>
	<div class="form-right"><input type="text" name="paymentForm[Card_Name]" id="cc_Card_Name" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">Address <span class="required-aserix">*</span></div>
	<div class="form-right"><input type="text" name="paymentForm[Address]" id="cc_Address" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">City <span class="required-aserix">*</span></div>
	<div class="form-right"><input type="text" name="paymentForm[City]" id="cc_City" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">State <span class="required-aserix">*</span></div>
	<div class="form-right"><input type="text" name="paymentForm[State]" id="cc_State" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">ZIP <span class="required-aserix">*</span></div>
	<div class="form-right form-right-small"><input type="text" name="paymentForm[ZIP]" id="cc_Zip" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">Card number <span class="required-aserix">*</span></div>
	<div class="form-right"><input type="text" name="paymentForm[Card_Number]" id="cc_Card_Number" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">Expiration month <span class="required-aserix">*</span></div>
	<div class="form-right form-right-small">
		<select name="paymentForm[Card_Expiration_Month]" id="cc_Card_Expiration_Month">
			<option value="01">January</option>
			<option value="02">February</option>
			<option value="03">March</option>
			<option value="04">April</option>
			<option value="05">May</option>
			<option value="06">June</option>
			<option value="07">July</option>
			<option value="08">August</option>
			<option value="09">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	</div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">Expiration year <span class="required-aserix">*</span></div>
	<div class="form-right form-right-small">
		<select name="paymentForm[Card_Expiration_Year]" id="cc_Card_Expiration_Year">
			<option>2020</option>
			<option>2021</option>
			<option>2022</option>
			<option>2023</option>
			<option>2024</option>
			<option>2025</option>
			<option>2026</option>
			<option>2027</option>
			<option>2028</option>
			<option>2029</option>
			<option>2030</option>
			<option>2031</option>
			<option>2032</option>
		</select>
	</div>
	<div class="clearfix"></div>
</div>

<div class="form-row">
	<div class="form-left">CCV/CVV Code <span class="required-aserix">*</span></div>
	<div class="form-right form-right-small"><input type="text" name="paymentForm[CCV_CVV_Code]" id="cc_CCV_CVV_Code" required="required" value=""/></div>
	<div class="clearfix"></div>
</div>