
<table class="tx-nkcadportal" >
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_contact.lastname" />
		</td>
		<td>
		{contact.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_contact.firstname" />
		</td>
		<td>
		{contact.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_contact.phone" />
		</td>
		<td>
		{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nkcadportal_domain_model_contact.contacttype" />
		</td>
		<td>
		{contact.contacttype}
		</td>
	</tr>
</table>