<div class="page-loader">
	<div class="loader"></div>
</div>
<f:render partial="HeaderSubpage" arguments="{pageType: 'default', headerLogo: headerLogo, mainMenu: mainMenu, mobilemainMenu: mobilemainMenu, headerLogoWhite: headerLogoWhite, contactIconPidTargetDesktop: contactIconPidTargetDesktop, mobileContactPagePid: mobileContactPagePid}"/>
<f:render section="content" arguments="{content: content, breadcrumb: breadcrumb}"/>
<f:render partial="Footer" arguments="{footerContactText: footerContactText, footerSocialIcons: footerSocialIcons, headerLogo: headerLogo, footerCopyright: footerCopyright, footerColumnA: footerColumnA, footerColumnB: footerColumnB, footerColumnC: footerColumnC, footerColumnD: footerColumnD}"/>