<main>
<f:render partial="Header" arguments="{pageType: 'home', headerLogo: headerLogo, mainMenu: mainMenu, mobilemainMenu: mobilemainMenu, headerLogoWhite: headerLogoWhite, contactIconPidTargetDesktop: contactIconPidTargetDesktop, mobileContactPagePid: mobileContactPagePid}"/>
<f:render section="content" arguments="{content: content, ceoWelcomeTextBg: ceoWelcomeTextBg, homeContactBannerBg: homeContactBannerBg}"/>
<f:render partial="Footer" arguments="{footerContactText: footerContactText, footerSocialIcons: footerSocialIcons, headerLogo: headerLogo, footerCopyright: footerCopyright, footerColumnA: footerColumnA, footerColumnB: footerColumnB, footerColumnC: footerColumnC, footerColumnD: footerColumnD}"/>
</main>