{namespace customViewHelper=Netkyngs\Nkcadportal\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />

    <ul class="cad-payment-be-topnav">
        <li><f:link.action action="txnlist">Payments</f:link.action></li>
        <li><a href="#" class="active">Charge a Card</a></li>
        <li><f:link.action action="deleteAuthorizeProfile">Delete Payment Profile</f:link.action></li>
    </ul>

    <!-- CHARGE A CARD -->
    <div id="table-chargecard">
        <p><br /></p>
        <f:form action="fetchdetail" method="post">
            <table class="cad-payment-be-table table-chargecard">
                <caption>Charge a Credit Card</caption>
                <tbody>
                    <tr>
                        <td>*</td>
                        <td>Username (Login ID):</td>
                        <td><f:form.textfield name="username" class="wider" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><f:form.submit name="btnsub" value="Fetch Detail" /></td>
                    </tr>
                </tbody>
            </table>
        </f:form>
    </div>

</f:section>
</html>