
<f:layout name="Default" />



<f:section name="main">

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:Contact}" />

	<f:form action="" enctype="multipart/form-data"  name="new_DFW_Registration">
		
		<f:render partial="Contact/Registrationfields" arguments="{formValues: formValues, formErrors: formErrors}"/>
	
		<div class="form-row">
			<div class="form-left">&nbsp;</div>
			<div class="form-right"><div class="g-recaptcha" data-sitekey="{settings.recaptcha_site_key}"></div></div>
			<div class="clearfix"></div>
		</div>
		<div class="form-row">
			<div class="form-left">&nbsp;</div>
			<div class="form-right"><input type="submit" name="submit" id="submit" value="Create account" /></div>
			<div class="clearfix"></div>
		</div>
		
		<!-- hidden fields -->
		<input type="hidden" name="formAction" id="formAction" value="new_DFW_Registration"/>
                <input type="hidden" name="secretcode" id="secretcode" value=""/>
		
	</f:form>
	
</f:section>